<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<br /><br /><br />
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Регистрация</h2>
            </div>
            <div class="card-body">
                <form method="post" role="form" th:action="@{/register}" th:object="${user}">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label class="form-label">Имя</label>
                                <input class="form-control" id="name" name="name" th:field="*{name}" type="text" />
                                <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                                    <p th:each="err : ${#fields.errors('name')}" th:text="${err}"></p>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label">Фамилия</label>
                                <input class="form-control" id="surname" name="surname" th:field="*{surname}" type="text" />
                                <div th:if="${#fields.hasErrors('surname')}" class="invalid-feedback">
                                    <p th:each="err : ${#fields.errors('surname')}" th:text="${err}"></p>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label">Отчество</label>
                                <input class="form-control" id="patronymic" name="patronymic" th:field="*{patronymic}" type="text" />
                                <div th:if="${#fields.hasErrors('patronymic')}" class="invalid-feedback">
                                    <p th:each="err : ${#fields.errors('patronymic')}" th:text="${err}"></p>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label">Укажите пол</label><br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="male" name="gender" value="Мужской" th:field="*{gender}" />
                                    <label class="form-check-label" for="male">Мужской</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="female" name="gender" value="Женский" th:field="*{gender}" />
                                    <label class="form-check-label" for="female">Женский</label>
                                </div>
                                <div th:if="${#fields.hasErrors('gender')}" class="invalid-feedback">
                                    <p th:each="err : ${#fields.errors('gender')}" th:text="${err}"></p>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label">Дата рождения</label>
                                <input class="form-control" id="birth" name="birth" th:field="*{birth}" type="date" />
                                <div th:if="${#fields.hasErrors('birth')}" class="invalid-feedback">
                                    <p th:each="err : ${#fields.errors('birth')}" th:text="${err}"></p>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label">Адрес электронной почты</label>
                                <input class="form-control" id="email" name="email" th:field="*{email}" type="email" />
                                <div th:if="${#fields.hasErrors('email')}" class="invalid-feedback">
                                    <p th:each="err : ${#fields.errors('email')}" th:text="${err}"></p>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label">Пароль</label>
                                <input class="form-control" id="password" name="password" th:field="*{password}" type="password" />
                                <div th:if="${#fields.hasErrors('password')}" class="invalid-feedback">
                                    <p th:each="err : ${#fields.errors('password')}" th:text="${err}"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label class="form-label">Регион</label>
                                <input class="form-control" id="region" name="region" th:field="*{region}" type="text" />
                                <div th:if="${#fields.hasErrors('region')}" class="invalid-feedback">
                                    <p th:each="err : ${#fields.errors('region')}" th:text="${err}"></p>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label">Город</label>
                                <input class="form-control" id="city" name="city" th:field="*{city}" type="text" />
                                <div th:if="${#fields.hasErrors('city')}" class="invalid-feedback">
                                    <p th:each="err : ${#fields.errors('city')}" th:text="${err}"></p>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label">Улица</label>
                                <input class="form-control" id="street" name="street" th:field="*{street}" type="text" />
                                <div th:if="${#fields.hasErrors('street')}" class="invalid-feedback">
                                    <p th:each="err : ${#fields.errors('street')}" th:text="${err}"></p>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label">Дом</label>
                                <input class="form-control" id="house" name="house" th:field="*{house}" type="text" />
                                <div th:if="${#fields.hasErrors('house')}" class="invalid-feedback">
                                    <p th:each="err : ${#fields.errors('house')}" th:text="${err}"></p>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label">Квартира</label>
                                <input class="form-control" id="flat" name="flat" th:field="*{flat}" type="number" />
                                <div th:if="${#fields.hasErrors('flat')}" class="invalid-feedback">
                                    <p th:each="err : ${#fields.errors('flat')}" th:text="${err}"></p>
                                </div>
                            </div>

                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" id="fact" name="fact" th:field="*{fact}" />
                                <label class="form-check-label" for="fact">Фактический адрес</label>
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label">Серия паспорта</label>
                                <input class="form-control" id="passportSeries" name="passportSeries" th:field="*{passportSeries}" type="text" />
                                <div th:if="${#fields.hasErrors('passportSeries')}" class="invalid-feedback">
                                    <p th:each="err : ${#fields.errors('passportSeries')}" th:text="${err}"></p>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label">Номер паспорта</label>
                                <input class="form-control" id="passportNumber" name="passportNumber" th:field="*{passportNumber}" type="text" />
                                <div th:if="${#fields.hasErrors('passportNumber')}" class="invalid-feedback">
                                    <p th:each="err : ${#fields.errors('passportNumber')}" th:text="${err}"></p>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label">Дата выдачи</label>
                                <input class="form-control" id="passportIssue" name="passportIssue" th:field="*{passportIssue}" type="date" />
                                <div th:if="${#fields.hasErrors('passportIssue')}" class="invalid-feedback">
                                    <p th:each="err : ${#fields.errors('passportIssue')}" th:text="${err}"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
                        <span>Уже зарегистрированы? <a th:href="@{/login}">Войдите здесь</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>